<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.tcking.example" >

    <!-- 定位用-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 获取mac地址和ssid用-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 自动获取短信验证码用：SMSVerificationCodeContentObserver-->
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- 自动获取短信验证码用：SMSVerificationCodeReceiver-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--<activity-->
            <!--android:name=".activity.MainActivity"-->
            <!--android:label="@string/title_activity_main" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
    </application>

</manifest>
